.banner{
    background-color:#002F52;
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-family: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    background: none;
    padding: 1em 2em ;
    border-radius: 24px;
    border: 1px solid var(--branco);
    outline: none;
    color: var(--branco);
    min-width: 340px;
    text-align: center;
    display: flex;
    
}

.banner__pesquisa::placeholder{
    color: var(--branco);
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat; 
    background-position: left center;
    padding-left: 20px;
    font-family: var(poppins);
    
}

